<!-- client_details.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Details</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Client Details</h1>

        <h2>{{ client[1] }}</h2> {# Assuming index 1 corresponds to the 'name' field in the tuple #}

        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ client[0] }}</td> {# Accessing the first element which is 'id' #}
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ client[1] }}</td> {# Accessing the second element which is 'name' #}
                </tr>
                <tr>
                    <th scope="row">IP Address</th>
                    <td>{{ client[2] }}</td> {# Assuming index 2 corresponds to the 'ip' field in the tuple #}
                </tr>
                <tr>
                    <th scope="row">MAC Address</th>
                    <td>{{ client[3] }}</td> {# Assuming index 3 corresponds to the 'mac' field in the tuple #}
                </tr>
                <tr>
                    <th scope="row">Longitude</th>
                    <td>{{ client[4] }}</td> {# Assuming index 4 corresponds to the 'longitude' field in the tuple #}
                </tr>
                <tr>
                    <th scope="row">Latitude</th>
                    <td>{{ client[5] }}</td> {# Assuming index 5 corresponds to the 'latitude' field in the tuple #}
                </tr>
            </tbody>
        </table>

        <!-- Additional details or actions can be added as needed -->

        <a href="{{ url_for('list_clients') }}" class="btn btn-secondary">Back to List</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
